@use 'base/variables' as v;
@use 'base/mixins' as m;


textarea{
    resize:none;
}

//Se aplica unicamente al login
.formulario-menu-negro{

    border:1px solid v.$azul;
    box-shadow: 0px 0px 10px v.$azul-turquesa;
    background-color: rgba($color: v.$negro, $alpha: 0.6);
    width:33rem;
    padding:3rem;
    
    //Resolución tablet
    @include m.tablet{
        width:41rem;
        padding: 3.5rem;
    }
    
    //Resolución desktop
    @include m.desktop{
        padding:5rem;
    }

    .form-content{
        position: relative;
    }

    .form-menu{
        margin-bottom:5rem;
        //fila o columna, wrap, align-h, aling-v, esp-h esp-v
        @include m.flex(row, nowrap, space-between, center, 0, 0);
        
        a{
            color:v.$blanco;
            font-weight: v.$regular;
            font-size: 1.6rem;
            padding-bottom:1rem;
            border-bottom:1px solid v.$blanco;
            transition-duration: 0.5s;

            //Resolución tablet
            @include m.tablet{
                font-size:1.8rem;
            }

            //Resolución desktop
            @include m.desktop{
                font-size:2rem;
            }
            
            &.inactivo{
                color:darken($color: v.$blanco, $amount: 30);
                border-bottom:1px solid v.$transparente;
            }
        }
    }

    .form-list{
        &.ocultar-form{
            position:absolute;
            left:0;
            top:0;
            opacity: 0;
            z-index:-1;
        }

        position: relative;
        display:flex;
        flex-direction:column;
        transition-duration: 0.15s;
    }
    
    h2{
        font-weight: v.$regular;
        margin-top:0;
        margin-bottom:2.6rem;
        
        //Resolución tablet
        @include m.tablet{
            margin-bottom:5rem;
        }
    }

    a.enlace-olvido{
        align-self: flex-end;
        color:v.$blanco;
        margin-bottom:2rem;

        &.hover{
            border-bottom:1px solid v.$blanco;
        }
    }
}

//Se aplica unicamente al login
.formulario{
    position: relative;
    margin:0 auto;
    padding:2rem;
    display:flex;
    flex-direction:column;

    //Resolución tablet
    @include m.tablet{
        padding:4rem;
    }
}

//Por ahora solo se aplica al formulario del login
.formulario-negro{
    border:1px solid v.$azul;
    box-shadow: 0px 0px 10px v.$azul-turquesa;
    background-color: rgba($color: v.$negro, $alpha: 0.6);
    
    textarea{
        max-height: 10rem;
    }
    
    //Resolución desktop
    @include m.desktop{
        width:auto;
    }
}

// .campo se utiliza en el Login
.campo{
    
    position: relative;
    z-index: 5;
    margin-bottom: 2rem;

    //Comportamiento del label que describe el campo
    .campo-descripcion{
        padding:1.2rem;
        position:absolute;
        top:0;
        left:0;
        right: 0;
        transition-duration: 0.3s;
        color:white;
        text-align: left;
    
        &.lb-textarea{
            height: 100%;
        }
        
        &.subirLabel{
            position:relative;
            padding:0;
            top:0;
            left:0;
        }
    }
}

//Caja de texto del login
.input{
    font-size: 1.6rem;
    padding: 1rem;
    outline: none;
    transition-duration: 0.3s;
    border-radius: 1.7rem;
    width:100%;

    //Resolución tablet
    @include m.tablet{
        font-size: 1.8rem;
    }
    
    //Resolución desktop
    @include m.desktop{
        font-size: 2rem;
    }
}

//Por el momento solo aplica para el Login, autenticación y reestablecer contraseña
.input-negro{
    background-color: rgba(v.$blanco, 0.1);
    color:v.$blanco;
    font-weight: v.$regular;
    border: 1px solid v.$azul;

    &::placeholder{
        color:darken($color: v.$gris, $amount: 0.8);
    }

    &:focus{
        border:v.$azul;
        box-shadow: 0px 0px 10px v.$azul-turquesa;
    }
}

// Utilizado unicamente en campos de Login
.icono-error{
    position:absolute;
    top:1rem;
    right: -25px;

    &.ocultar{
        display:none;
    }
}

// Utilizado unicamente en campos de Login
.msg-error{
    position: relative;
    display: block;
    background: v.$rojo;
    color:v.$blanco;
    padding:0.5rem 1rem;
    top:5px;
    height: auto;
    // transition-property: height;
    transition-duration: .3s;
    
    &.ocultar{
        display:none;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
}

//Utilizado en los formularios del panel principal
.form{
    // border:1px solid red;
    margin-top: 1rem;
    padding:0 0.2rem 0 1rem;
    display:flex;
    flex-direction:column;

    //Resolución tablet
    @include m.tablet{
        flex-flow:row wrap;
    }
    // Contenedor del input
    &__campo {
        // border:1px solid blue;
        position: relative;
        z-index: 5;
        margin: 1rem 0;
        line-height: 0;

        //Resolución tablet
        @include m.tablet{
            margin-left:1rem;
        }

        &.t-sm{
            width: 16rem;
        }

        &.t-md{
            //Resolución tablet
            @include m.tablet{
                width: 22rem;
            }
        }
        
        &.t-xl{
            //Resolución tablet
            @include m.tablet{
                width: 38rem;
            }
        }
        
        &.t-xxl{
            width: 90%;
            
            //Resolución tablet
            @include m.tablet{
                width: 95%;
            }
            
            //Resolución desktop
            @include m.desktop{
                width: 98%;
            }
        }

    }

    // Label Enunciado
    &__label--campo{
        // border:1px solid red;
        position:absolute;
        top:-1rem;
        left:1rem;
        padding:1rem 0.5rem;
        color: v.$gris-oscuro;
        font-size: 1.4rem;
        background-color: v.$blanco;
        // z-index: 50;
        
        //Resolución tablet
        @include m.tablet{
            font-size: 1.6rem;
        }

        & > .obligatorio{
            color:v.$rojo;
        }
    }

    //input para el panel
    &__input{
        
        font-size: 1.6rem;
        padding: 1.3rem 2.8rem 0.8rem 0.8rem;
        outline: none;
        transition-duration: 0.3s;
        border-radius: 0.5rem;
        border: 1px solid v.$gris-oscuro;;
        width:100%;

        &:focus{
            box-shadow: 0px 0px 8px v.$gris-oscuro;
        }
    }
    
    // icono de X para borrar el contenido del input
    &__limpiar{
        // border:1px solid red;
        position:absolute;
        top:0;
        right: 0.5rem;

        height: 4rem;
        width: 3rem;

        display:flex;
        justify-content:center;
        align-items: center;

        font-weight: 500;
        text-transform: uppercase;
        transition-duration: 0.5s;
        color: v.$gris-oscuro;
        z-index: 3;

        //Resolución tablet
        @include m.tablet{
            text-transform: lowercase;
        }
    }

    //Label de sugerencia para diligenciamiento del campo
    &__labelSugerencia, 
    &__labelError{
        position: relative;
        display: inline-block;
        left: 1rem;
        line-height: 140%;
        width: calc(100% - 5rem);  
        margin:0;
        padding:0.5rem 1rem;
        border-radius: 1rem;
        height: auto;
        transition-duration: .3s;

        &.ocultar{
            opacity: 0;
            overflow: hidden;
            line-height: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }

        &::before{
            content: '';
            position: absolute;
            top: -27px;
            left: 10px;
            border-style: solid;
            border-width: 15px;
        }
    }

    &__labelSugerencia{
        margin-top: 0.5rem;
        background: v.$amarillo;
        color:v.$negro;

        &::before{
            content: '';
            border-color: transparent transparent v.$amarillo transparent;
        }
    }

    // label de error por parte del backend
    //Reescribimos el CSS
    &__labelError{
        background: v.$rojo;
        color:v.$blanco;
        top:-0.3rem;
        
        &::before{
            content: '';
            border-color: transparent transparent v.$rojo transparent;
        }        
    }

    &__iconError{
        position:absolute;
        top:1.2rem;
        right: 0.7rem;
        opacity:1;
        transition-duration: 0.3s;
    
        &.ocultar{
            opacity:0;
        }
    }

    &__button{
        width: 19rem;
    }


}

.form__multirregistros__tabla{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.fieldset__campos{
    width: 100%;
    display:flex;
    flex-flow:column wrap;
    
    //Resolución tablet
    @include m.tablet{
        flex-flow:row wrap;
    }
}

.fieldset__archivos{
    margin: 3rem 0;
    width: 100%;

}

.form__contenedor__multirregistros{
    display: flex;
    flex-flow: column wrap;
    width: 85%;

    //Resolución tablet
    @include m.tablet{
        flex-flow: row wrap;
    }
    
}

legend{
    font-weight: bold;
    font-size:2rem;

}

//Se utilizan dos botones para ocultar uno detras del otro con el fin de llamar el método click desde el botón con estilos css
.campo--file{

    position:relative;
    width: auto;

    [type="file"]{
        position: absolute;
        top:0;
        left:0;
        display: none;
    }

    [type="button"]{
        position: relative;
        top: 0;
        left: 0;
        width: 19rem;
    }
    
    div.divFile{
        position: absolute;
        top:1rem;
        left: 20rem;

        span{
            line-height: 140%;
            margin-right: 0.5rem;
        }

        .ocultar{
            display: none;
        }
    }

    //Reescribimos la posición del logo  
    .form__iconError{
        right: 0;
        left: 20rem;
    }
}

// campo estado ---------------
.check{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: flex-start;
    column-gap: 1rem;

    &:hover{
        cursor: pointer;
    }

    &__content{
        position: relative;
        background-color: v.$azul-claro;
        width: 6rem;
        padding: 1.3rem .8rem;
        border-radius: 2rem;
        display:flex;
        justify-content:space-between;

        &:hover{
            cursor: pointer;
        }

        &.inactivo{
            background-color: v.$gris-oscuro;
        }
    }

    &__label--enunciado{
        line-height: 140%;
    }

    // Hijo de la clase check__content
    &__estado{
        position: absolute;
        right: .1rem;
        top:0;
        border-radius: 50%;
        border: 1px solid v.$azul-claro;
        width: 2.5rem;
        height: 2.5rem;
        background-color: v.$blanco;
        transition: border .15s linear,
                    right .15s linear;
        &.inactivo{
            right: calc(100% - 2.6rem);
            border: 1px solid v.$gris-oscuro;
        }
    }
    
    &__label{
        font-size: 1.6rem;
        line-height: auto;
        color: v.$blanco;
    
        &.ocultar{
            color: transparent;
        }

        &:hover{
            cursor: pointer;
        }
    }
}

// Fin del campo estado ------------------

// Se aplica al campo denominado 'form_campo' con el fin de cambiar el color del label y el input
.item-verde{
    // Seleccionamos el label del título del campo
    & > .form__label--campo{
        color: v.$verde;

        // Seleccionamos el input del campo
        &+input{
            border-color: v.$verde;
        }
    }
}

// Se aplica al campo denominado 'form_campo' con el fin de cambiar el color del label y el input
.item-rojo{
    // Seleccionamos el label del título del campo
    & > .form__label--campo{
        color: v.$rojo;

        // Seleccionamos el input del campo
        &+input{
            border-color: v.$rojo;
        }
    }
}

// Se aplica al campo denominado 'form_campo' con el fin de cambiar el color del label y el input
.item-azul{
    // Seleccionamos el label del título del campo
    & > .form__label--campo{
        color: v.$azul;

        // Seleccionamos el input del campo
        &+input{
            border-color: v.$azul;
        }
    }
}

.optionCustom{
    font-weight: bold;
}

//El boton del login y el boton del panel comparten la misma características menos la propiedad width
.boton, .form__btn{

    padding: 1rem 0px;
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
    border-radius:5px;
    transition-property: background-color;
    transition-duration: .2s;
    text-align: center;
    display: block;
    width: 100%;
    
    @include m.tablet {
        font-size: 2rem;
    }

    &:hover{
        cursor: pointer;
    }
}

// Agregamos una clase adicional controlar la alineación del botón
.campo--button{
    display:flex;
    flex-flow:column wrap;
    row-gap: 1.5rem;
    margin: 0 auto;
    
    //Resolución tablet
    @include m.tablet{
        flex-flow: row nowrap;
        justify-content:flex-end;
        column-gap: 1.5rem;
        margin: auto;
    }
}    

//reescribimos algunas propiedades general del botón para el panel
.form__btn{
    //Resolución tablet
    @include m.tablet{
        width:19rem;
    }
}

// los estilos del boton primario se utilizan en todos los botones
.btn-primario{
    background-color: v.$azul;
    color: v.$blanco;
    border: 1px solid v.$azul;
    
    &:hover {
        background-color: v.$azul-darken;
        border: 1px solid v.$azul-darken;
        color:v.$blanco;
    }
    
    &.disabled{
        background-color: v.$azul-claro;
        border: 1px solid v.$azul-claro;

        &:hover{
            cursor:not-allowed;
        }
    }
}

.btn-secundario{

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: v.$blanco;
    color: v.$azul-darken;
    border: 1px solid v.$azul-darken;
    font-size:1.8rem;
    padding:1.8rem 0 1.8rem 0;

    //Resolución tablet
    @include m.tablet{
        font-size:2rem;
    }
}

.btn-terciario{
    margin: 0;
    background-color: v.$gris;
    border: 1px solid v.$gris;
    color: v.$negro;
    font-size:1.6rem;
    width:19rem;
    
    &:hover {
        background-color: darken(v.$gris, 10%);
    }
}

.btn-adjuntar{
    margin: 0;
    background-color: v.$negro;
    border: 1px solid v.$negro;
    color: v.$blanco;
    font-size:1.6rem;
    width:19rem;
    
    &:hover {
        background-color: lighten(v.$negro, 10%);
    }
}

.contenedor-imagenes{    
    display: flex;
    align-items: center;
    column-gap: 1rem;

    & .contenedor-logo{
        width: 19rem;
        text-align: center;

        & img{
            max-height: 20rem;
            width: auto;
        }
    }

    & .eliminar-imagen{
        width: 2rem;
        height: 2rem;
    }
}
