$fuente_principal: 'Arial', sans-serif;

// Tamaño de Media Queries
$telefono: 599px;
$tablet: 600px;
$desktop: 1024px;

$negro:#000000;
$blanco: #ffffff;
$azul:#3353A3;
$gris:#646464;
$gris-claro:#f3f3f3;
$rojo: #e60a0a;