@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color' as c;

.form{
    margin-top: 0.5rem;
    padding: 1rem 0.2rem;
    
    //Resolución tablet
    @include m.tablet {
        padding: 1rem 2rem;
    }
}

.fieldset__expansion{
    position:relative;
    
}


.contenedor__campos{
    position: relative;;
    display: flex;
    flex-flow: row wrap;
    gap: 0.7rem;
    
    // Flecha para expansión 
    .toggleButton{
        position: absolute;
        top:-0.5rem;
        right: 0.5rem;
        width:1.5rem;
        height:1.5rem;
        border-style: solid;
        border-width:0.8rem;
        border-color: transparent v.$negro v.$negro transparent;
        transform: rotate(45deg);
    }

    & > button {
        margin-top: auto;
    }
    
    &.campos__cliente{
        // Altura inicial (cuando está colapsado)
        
        overflow: hidden;
        max-height: 6rem;
        transition: max-height 0.3s linear;
        
        /* Expansión cuando se añade la clase 'expandido' */
        &.expandido {
            max-height: 60rem;
        }
    
        //Resolución tablet
        @include m.tablet{
            max-height: none;
            height: auto;
        }
    }
}

.form__campo{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    line-height: 0;

    &.t-xs{
        width: 10rem;
    }
    
    &.t-sm{
        width: 100%;
        @include m.tablet{
            width: 16rem;
        }
    }

    &.t-md{
        width: 100%;
        //Resolución tablet
        @include m.tablet{
            width: 18rem;
        }
    }
    
    &.t-xl{
        width: 100%;
        //Resolución tablet
        @include m.tablet{
            flex: 1;
            min-width: 14rem;
            // width: 38rem;
        }
    }

    &.t-xxl{
       
        width: 100%;
        
        //Resolución tablet
        @include m.tablet{
            width: 95%;
        }
        
        //Resolución desktop
        @include m.desktop{
            width: 98%;
        }
    }

    & > label{
        display: inline-block;
        padding:1rem 0;
    }
}

.campo__input{
    width:100%;
    font-size: 1.6rem;
    padding: 0.3rem;
    outline: none;
    transition-duration: 0.2s;
    border-radius: 0.5rem;
    border: 1px solid v.$gris;
    
    &:focus{
        box-shadow: 0px 0px 8px v.$gris;
    }
    
    &.disabled{
        cursor:not-allowed;
        background-color: v.$gris-claro;
    }

    &.input__error{
        border:1px solid v.$rojo;
    }
}

.label__error{
    position: relative;
    display: inline-block;
    left: 0.5rem;
    line-height: 140%;
    width: calc(100% - 1rem);  
    margin:0;
    padding:0.5rem 1rem;
    border-radius: 1rem;
    height: auto;
    transition-duration: .3s;
    font-size: 1.4rem;

    margin-top: 0.5rem;
    background: v.$rojo;
    color:v.$blanco;

    &.ocultar{
        opacity: 0;
        overflow: hidden;
        line-height: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    &::before{
        content: '';
        position: absolute;
        top: -27px;
        left: 10px;
        border-style: solid;
        border-width: 15px;
        border-color: transparent transparent v.$rojo transparent;
    }
}

.contenedor__botones{
    padding-top: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 1rem;

    //Resolución tablet
    @include m.tablet {
        padding-top: 0.5rem;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

}

.boton{
    all:unset;
    border-radius: 0.7rem;
    width:10rem;
    text-align:center;
    box-shadow:0px 0px 10px #646464;
    padding:0.5rem;
    margin-bottom: 0.8rem;
    
    &:hover{
        cursor: pointer;
    }
    
    &:focus{
        transform: scale(0.95);
    }
}

a.boton{
    display: inline-block;
}

.boton--primario{
    color:v.$blanco;
    background-color:v.$azul;

    &:focus{
        background-color: c.adjust($color: v.$azul, $lightness:10%);
    }
}

.boton--secundario{
    color:v.$blanco;
    background-color:v.$gris;

    &:focus{
        background-color: c.adjust($color: v.$gris, $lightness:10%);
    }
}

