@use '../base/mixins' as m;
@use '../base/variables' as v;
@use 'sass:color' as c;

.header__simple{
    height:5rem;
    padding:0.5rem;
    background-color:#3353A3;
    display:flex;
    flex-flow:row nowrap;
    gap:0.5rem;
    align-items:center;

    //Resolución tablet
    @include m.tablet {
        padding: 1rem 1.5rem;
    }
}
  
.header__menu{
    height:5rem;
    padding:0 0.5rem;
    background-color:#3353A3;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    //Resolución tablet
    @include m.tablet {
        padding:0rem 1rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    // Menú hamburguesa
    & > .icono__menu {
        padding-top: 0.8rem;
        align-self: center;
        justify-self: end;

        //Resolución desktop
        @include m.desktop {
            display: none;    
        }
    }

    & > .titulo{
        display:flex;
        flex-direction: row nowrap;
        align-items:center;
        column-gap: 1rem;
        & > h1{
            margin: 0;
        }
    }

    //Contenedor Menú
    & .menu {

        position: fixed;
        z-index: 10;
        background-color: v.$azul;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: transform 0.5s ease-in-out;

        &.mostrar{
            transform: translateX(100%);
        }

        &.ocultar{
            transform: translateX(-100%);
        }

        //Resolución tablet
        @include m.tablet {
            width: 50%;
            left: -50%;

            &.mostrar{
                transform: translateX(100%);
            }

            &.ocultar{
                transform: translateX(0%);
            }
        }

        @include m.desktop {
            background-color: transparent;
            position:initial;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-items: end;
            width: 100%;
        }
    }
}

.menu > nav{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;

    //Resolución tablet
    @include m.desktop {
        display: inline-block;
        text-align: right;
        padding-top: 1.3rem;

    }
    
    & > a{
        color: v.$blanco;
        padding: 1rem;
        
        &:hover{
            background-color: c.adjust($color: v.$azul, $lightness:10%);
        }

        //Configuración del botón cerrar
        &:nth-child(1){
            position: relative;
            text-align: right;
            margin-right: 1rem;
            
            &:hover{
                background-color: v.$azul;
            }

            & > span{
                background-color: v.$blanco;
                color: v.$azul;
                padding: 0.8rem 1.1rem;
                border-radius: 50%;
                font-weight: bold;
            }
        }

        //Resolución tablet
        @include m.desktop {
            margin-right: 1rem;     
            
            //Desaparecemos el icono de cerrar
            &:nth-child(1){
                display: none;
            }
        }
    } 
}