@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color' as c;

.contenedor_grid_titulos{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    
    & > h2 {
        grid-row: 2;
    }
    
    & > h3{
        grid-row: 1;
    }
    
    //Resolución tablet
    @include m.tablet{
        margin: 0 auto;
        max-width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        & > h2 {
            text-align: left;
            grid-column: 1; /* Se coloca en la primera columna */
            grid-row: 1; /* Se asegura que esté en la primera fila */
        }

        & > h3 {
            text-align: right;
            grid-column: 2; /* Se coloca en la segunda columna */
            grid-row: 1; /* Se asegura que esté en la primera fila */
        }
    }
}

h3.saldo {
    font-weight: bold;
    color: v.$rojo;
}


