@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color' as c;

.contenedor_grid_titulos {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    
    & > h2 {
        grid-row: 1;
    }
    
    & > h3 {
        grid-row: 2;
    }
    
    & > .boton {
        display: inline-block;
        padding: 0.5rem;
        grid-row: 3;
        justify-self: center; /* Centra el botón horizontalmente */
        margin-top: 1rem; /* Espacio entre el h3 y el botón */
        width: fit-content; /* Ajusta el ancho al contenido */
    }
    
    // Resolución tablet
    @include m.tablet {
        margin: 0 auto;
        max-width: 95%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-items: center; /* Centra verticalmente todos los elementos */

        & > h2 {
            text-align: left;
            grid-column: 1;
            grid-row: 1;
            justify-self: start; /* Alinea a la izquierda */
        }

        & > h3 {
            text-align: center;
            grid-column: 2;
            grid-row: 1;
        }

        & > .boton {
            grid-column: 3;
            grid-row: 1;
            justify-self: end; /* Centra el botón en su columna */
            margin-top: 0; /* Elimina el margen superior en tablet */
        }
    }
}

p.saldo {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: v.$rojo;
}


